<h1>Testing Landing Page</h1>

<% @tasks.each do |task| %>
  <li>
    <%= task.name%> : <%= task.details%>
    <% if !task.completed %>
        <input type="checkbox" >
      <% else %>
        <input type="checkbox" checked>
      <% end %>
  </li>
<% end %>

