<h1>Testing Landing Page</h1>

<% @tasks.each do |task| %>
  <li>
    <%= link_to task.name, task_path(task) %>
    <%= simple_form_for(task) do |f| %>
        <%= f.input_field :completed, as: :boolean %>
      <% end %>
  </li>
<% end %>

<%= link_to " + Add a new task ", "tasks/new"%>